body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: linear-gradient(to bottom, #4d4dff, #33ccff);
    height: 100vh;
    margin-top: 5%;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  h1 {
    text-align: center;
    margin-top: 0;
  }
  
  form {
    display: flex;
    flex-wrap: wrap;
  }
  
  .form-group {
    width: 100%;
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="number"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    font-size: 16px;
  }
  
  button[type="button"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button[type="button"]:hover {
    background-color: #3e8e41;
  }
  
  #output {
    font-size: 24px;
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  